<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Page 1</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../styles/page1.css" rel="stylesheet">
    </head>
    <body>
        <main>
            <section class="container__top">
                <div class="title">
                    <h2>Discover the beauty around the world</h2>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
                </div>
                <a href="#">Explore</a>
            </section>
            <section class="container__button">
                <div class="images1">
                    <img src="../src/img/page1/1Page1.png" alt="Imagen 1">
                    <img src="../src/img/page1/2Page1.png" alt="Imagen 2">
                    <img src="../src/img/page1/4Page1.png" alt="Imagen 3">
                    <img src="../src/img/page1/3Page1.png" alt="Imagen 4">
                </div>
                <div class="images2">
                    <img src="../src/img/page1/5Page1.png" alt="Imagen 5">
                    <img src="../src/img/page1/6Page1.png" alt="Imagen 6">
                    <img src="../src/img/page1/7Page1.png" alt="Imagen 7">
                    <img src="../src/img/page1/8Page1.png" alt="Imagen 8">
                </div>
            </section>
        </main>
    </body>
</html>