<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./style.css" rel="stylesheet">
    </head>
    <body>
        <main>
            <section class="section-left">
                <h2>Discover. Explore. Inspire.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
                <a href="#">Explore</a>
                <img src="../src/img/page12/form1Page12.png" alt="Form1">
                <img src="../src/img/page12/1Page12.png" alt="Image1">
            </section>
            <img src="../src/img/page12/form2Page12.png" alt="Form1" class="form2">
            <img src="../src/img/page12/form3Page12.png" alt="Form1" class="form2">
            <section class="section-right">
                <img src="../src/img/page12/2Page12.png" alt="Image1" alt="Image1">
                <img src="../src/img/page12/3Page12.png" alt="Image1" alt="Image1">
                <img src="../src/img/page12/form4Page12.png" alt="Form1">
                <div class="button">
                    <img src="../src/img/page12/4Page12.png" alt="Image button">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
                </div>
            </section>
        </main>
    </body>
</html>