<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../styles/page5.css" rel="stylesheet">
    </head>
    <body>
        <main>
            <section class="description">
                <h1>Projects and practice</h1>
            </section>
            <section class="card-container">
                <div class="card">
                    <div class="card-content">
                        <h3 class="card-title">01</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
                    </div>
                    <div class="img"></div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <h3 class="card-title">02</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
                    </div>
                    <div class="img"></div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <h3 class="card-title">03</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
                    </div>
                    <div class="img"></div>
                </div>
            </section>
        </main>
    </body>
</html>