<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../styles/page10.css" rel="stylesheet">
    </head>
    <body>
        <main>
            <section class="left-section">
                <div class="title">
                    <h1>Design.</h1>
                    <h1>Create.</h1> 
                    <h1>Inspire.</h1>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
                <a href="#">Explore</a>
            </section>
            <section class="images">
                <div class="section">
                    <img src="../src/img/page10/1Page10.png" alt="Image1">
                    <img src="../src/img/page10/2Page10.png" alt="Image1">
                    <img src="../src/img/page10/3Page10.png" alt="Image1">
                    <img src="../src/img/page10/4Page10.png" alt="Image1">
                </div>
                <div class="section">
                    <img src="../src/img/page10/5Page10.png" alt="Image1">
                    <img src="../src/img/page10/6Page10.png" alt="Image1">
                    <img src="../src/img/page10/7Page10.png" alt="Image1">
                    <img src="../src/img/page10/8Page10.png" alt="Image1">
                </div>
                <div class="section">
                    <img src="../src/img/page10/9Page10.png" alt="Image1">
                    <img src="../src/img/page10/10Page10.png" alt="Image1">
                    <img src="../src/img/page10/11Page10.png" alt="Image1">
                    <img src="../src/img/page10/12Page10.png" alt="Image1">
                </div>
                <div class="section">
                    <img src="../src/img/page10/13Page10.png" alt="Image1">
                    <img src="../src/img/page10/14Page10.png" alt="Image1">
                    <img src="../src/img/page10/15Page10.png" alt="Image1">
                    <img src="../src/img/page10/16Page10.png" alt="Image1">
                </div>
            </section>
        </main>
    </body>
</html>