<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../styles/page6.css" rel="stylesheet">
    </head>
    <body>
        <section>
            <div class="container">
                <div class="circular-text">
                  <span>C</span>
                  <span>O</span>
                  <span>N</span>
                  <span>S</span>
                  <span>L</span>
                  <span>O</span>
                  <span>R</span>
                  <span>E</span>
                  <span>M</span>
                  <span>P</span>
                  <span>U</span>
                  <span>S</span>
                  <span>N</span>
                  <span>D</span>
                  <span>O</span>
                  <span>L</span>
                  <span>O</span>
                  <span>R</span>
                  <span>S</span>
                  <span>I</span>
                  <span>T</span>
                  <span>A</span>
                  <span>M</span>
                  <span>E</span>
                  <span>T</span>
                  <span>,</span>
                </div>
                <div class="circle"></div>
            </div>
            <div>
                <h1>THE eWatch with the newest microchip technology</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
                <a href="#"></a>
                <a href="#"></a>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="" alt="" class="card-image">
                    <div class="card-content">
                        <h3 class="card-title"></h3>
                        <p class="card-text"></p>
                        <a href="" class="card-button">Learn More</a>
                    </div>
                </div>
                <div class="card">
                    <img src="" alt="" class="card-image">
                    <div class="card-content">
                        <h3 class="card-title"></h3>
                        <p class="card-text"></p>
                        <a href="" class="card-button">Learn More</a>
                    </div>
                </div>
                <div class="card">
                    <img src="" alt="" class="card-image">
                    <div class="card-content">
                        <h3 class="card-title"></h3>
                        <p class="card-text"></p>
                        <a href="" class="card-button">Learn More</a>
                    </div>
                </div>
                <div class="card">
                    <img src="" alt="" class="card-image">
                    <div class="card-content">
                        <h3 class="card-title"></h3>
                        <p class="card-text"></p>
                        <a href="" class="card-button">Learn More</a>
                    </div>
                </div>
            </div>
        </section>
        <img src="../src/img/page6/1Page6.png" alt="Igage 1">
        <img src="../src/img/page6/star1Page6.png" alt="Image 2">
        <img src="../src/img/page6/star1Page6.png" alt="Image 2">
        <img src="../src/img/page6/star2Page6.png" alt="Image 3">
        <section>
        </section>           
    </body>
</html>