<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../styles/page16.css" rel="stylesheet">
    </head>
    <body>
        <main>
            <section class="section-top">
                <div class="image1"></div>
                <h1>What’s next in your space travel</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
                <a href="#">Explore</a>
            </section>
            <section class="card-container">
                <div class="card">
                    <img src="../src/icons/icon1pPage16.svg" alt="icon1" class="card-image">
                    <div class="card-content">
                        <h3 class="card-title">Planets</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../src/icons/icon1pPage16.svg" alt="icon1" class="card-image">
                    <div class="card-content">
                        <h3 class="card-title">Interstellar</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../src/icons/icon1pPage16.svg" alt="icon1" class="card-image">
                    <div class="card-content">
                        <h3 class="card-title">Wormhole</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../src/icons/icon1pPage16.svg" alt="icon1" class="card-image">
                    <div class="card-content">
                        <h3 class="card-title">Time</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </section>
            <div class="image2"></div>
        </main>
    </body>
</html>