<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <main>
            <section class="section-top">
                <div class="description">
                    <h1>New designs New inspirations</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
                    <a href="#">Explore</a>
                </div>
                <div class="images">
                    <img src="../src/img/page11/1Page11.png" alt="Images">
                    <img src="../src/img/page11/2Page11.png" alt="Images">
                </div>
            </section>
            <section class="card-container">
                <div class="cards">
                    <div class="card">
                        <img src="../src/icons/icon1Page11.svg" alt="Icon1" class="card-image">
                        <div class="card-content">
                            <h3 class="card-title">Title 1</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../src/icons/icon1Page11.svg" alt="Icon1" class="card-image">
                        <div class="card-content">
                            <h3 class="card-title">Title 2</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../src/icons/icon1Page11.svg" alt="Icon1" class="card-image">
                        <div class="card-content">
                            <h3 class="card-title">Title 3</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>