<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../styles/page8.css" rel="stylesheet">
    </head>
    <body>
        <main>
            <section class="images">
                <img src="../src/img/page8/1Page8.png" alt="image1" class="image1">
                <img src="../src/img/page8/form1Page8.png" alt="image2" class="image2">
                <img src="../src/img/page8/form2Page8.png" alt="image3" class="image3">
            </section>
            <section class="description">
                <h1>Take your designs to the next level</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu.</p>
                <a href="">Explore</a>
            </section>
        </main>
    </body>
</html>