@import url(./variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.left-section {
    display: flex;
    flex-direction: column;
    width: 653px;
    height: 804.25px;
    margin: 64px 24px 64px 60px;
}
/* Contenedor principal */
.container-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 101px; /* Ancho del texto circular */
    height: 102px;
    position: relative;
    margin: 70px 575px 55px 10px;
  }
  
  /* Texto alrededor del círculo */
  .circular-text {
    position: absolute;
    width: 101.04px; /* Ancho del texto circular */
    height: 101.16px; /* Altura del texto circular */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circular-text span {
    position: absolute;
    font-size: 12px;
    color: black;
    transform-origin: center;
  }
  
  /* Posicionamiento del texto */
  .circular-text span:nth-child(1) { transform: rotate(0deg) translate(40px) rotate(0deg); }
  .circular-text span:nth-child(2) { transform: rotate(14deg) translate(40px) rotate(-14deg); }
  .circular-text span:nth-child(3) { transform: rotate(28deg) translate(40px) rotate(-28deg); }
  .circular-text span:nth-child(4) { transform: rotate(42deg) translate(40px) rotate(-42deg); }
  .circular-text span:nth-child(5) { transform: rotate(56deg) translate(40px) rotate(-56deg); }
  .circular-text span:nth-child(6) { transform: rotate(70deg) translate(40px) rotate(-70deg); }
  .circular-text span:nth-child(7) { transform: rotate(84deg) translate(40px) rotate(-84deg); }
  .circular-text span:nth-child(8) { transform: rotate(98deg) translate(40px) rotate(-98deg); }
  .circular-text span:nth-child(9) { transform: rotate(112deg) translate(40px) rotate(-112deg); }
  .circular-text span:nth-child(10) { transform: rotate(126deg) translate(40px) rotate(-126deg); }
  .circular-text span:nth-child(11) { transform: rotate(140deg) translate(40px) rotate(-140deg); }
  .circular-text span:nth-child(12) { transform: rotate(154deg) translate(40px) rotate(-154deg); }
  .circular-text span:nth-child(13) { transform: rotate(168deg) translate(40px) rotate(-168deg); }
  .circular-text span:nth-child(14) { transform: rotate(182deg) translate(40px) rotate(-182deg); }
  .circular-text span:nth-child(15) { transform: rotate(196deg) translate(40px) rotate(-196deg); }
  .circular-text span:nth-child(16) { transform: rotate(210deg) translate(40px) rotate(-210deg); }
  .circular-text span:nth-child(17) { transform: rotate(224deg) translate(40px) rotate(-224deg); }
  .circular-text span:nth-child(18) { transform: rotate(238deg) translate(40px) rotate(-238deg); }
  .circular-text span:nth-child(19) { transform: rotate(252deg) translate(40px) rotate(-252deg); }
  .circular-text span:nth-child(20) { transform: rotate(266deg) translate(40px) rotate(-266deg); }
  .circular-text span:nth-child(21) { transform: rotate(280deg) translate(40px) rotate(-280deg); }
  .circular-text span:nth-child(22) { transform: rotate(294deg) translate(40px) rotate(-294deg); }
  .circular-text span:nth-child(23) { transform: rotate(308deg) translate(40px) rotate(-308deg); }
  .circular-text span:nth-child(24) { transform: rotate(322deg) translate(40px) rotate(-322deg); }
  .circular-text span:nth-child(25) { transform: rotate(336deg) translate(40px) rotate(-336deg); }
  .circular-text span:nth-child(26) { transform: rotate(350deg) translate(40px) rotate(-350deg); /* Coma */ }
  
  /* Estilo del círculo */
  .circle {
    width: 28.44px; /* Ajusta según sea necesario */
    height: 30px;
    background-image: url("../src/icons/iconPage6.svg");
    border-radius: 50%;
    position: absolute;
    background-repeat: no-repeat;
  }
  
.detail {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    margin: 0 0 0px 24px;
}
.detail h1 {
    font-family: "Playfair_Display-Bold";
    font-size: 64px;
    width: 629px;
    height: 240px;
    color: var(--color-9);
    margin: 10px;
}
.detail p {
    font-family: "WorkSans-Regular";
    font-size: 29px;
    width: 629px;
    height: 144px;
    color: var(--color-8);
    line-height: 1;
    margin: 33px 0 0 10px;
}
.links {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 505px;
    height: 66px;
    margin: 33px 0 0 10px;
}
.links a:nth-child(1) {
    text-decoration: none;
    width: 219px;
    height: 66px;
    background-color: var(--color-9);
    border-radius: 16px;
    color: var(--color-4);
    font-family: "WorkSans-Medium";
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links a:nth-child(2) {
    text-decoration: none;
    width: 219px;
    height: 66px;
    background-color: var(--color-148);
    border-radius: 16px;
    color: var(--color-8);
    font-family: "WorkSans-Medium";
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 652px;
    height: 118px;
    margin: 160px 2px 64px 1px;
    border-radius: 24px;
    border-style: solid;
    border-width: 1px;
}
.card {
    display: flex;
    flex-direction: column;
    width: 91px;
    height: 70px;
    border-radius: 16px;
    margin: 24px;
}
.card-image {
    width: 24px;
    height: 24px;
    border-radius: 16px;
}
.card-text {
    font-family: "WorkSans-Regular";
    font-size: 16px;
    color: var(--color-6);
    margin: 0;
    width: 91px;
    height: 38px;
}

.right-section {
    width: 635.31px;
    height: 778.19px;
    margin: 62px 63px 93px 24px;
    position: relative;
}
.tag1 {
    width: 256px;
    height: 60px;
    margin: 619px 347.31px 99.19px 32px;
    position: absolute;
    background: var(--color-11);
    border-radius: 16px;
    font-family: "WorkSans-Regular";
    font-size: 24px;
    color: var(--color-4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.tag2 {
    width: 252px;
    height: 53px;
    margin: 136px 0.31px 589.19px 383px;
    position: absolute;
    background: var(--color-11);
    border-radius: 16px;
    font-family: "WorkSans-Regular";
    font-size: 18px;
    color: var(--color-4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.image3 {
    width: 135.85px;
    height: 135.85px;
    margin: 0px 499.45px 642.34px 0;
    z-index: 1;
    position: absolute;
}
.section1 {
    width: 480px;
    height: 568px;
    margin: 31px 68px 179px 68px;
    border-radius: 48px;
    border-style: solid;
    border-width: 2px;
    position: absolute;
}
.section2 {
    position: absolute;
    width: 310px;
    height: 476px;
    margin: 300px 0px 0px 325px;
    border-radius: 40px;
    border-style: solid;
    border-width: 2px;
}
.img {
    position: absolute;
    width: 310px;
    height: 476px;
    border-radius: 40px;
    background-image: url("../src/img/page6/1Page6.png");
    margin: 90.24px 34.55px 59.95px 120.76px;
    z-index: 1;
}
.image1 {
    width: 75px;
    height: 94.59px;
    margin: 68.76px 365.76px 464.64px 39.24px;
    position: absolute;
}
.image2 {
    width: 102.74px;
    height: 129.58px;
    margin: 320.03px 17.22px 26.39px 200.04px;
    position: absolute;
}