@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url(../src/img/pages/Onboarding.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-size: 60px;
    color: var(--color-131);
    font-family: "Bitter-Bold";
    margin: 40px 0;
}

main > p {
    font-size: 20px;
    color: var(--color-135);
    font-family: "Bitter-Bold";
    margin: 20px 0;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    height: 100%;
    margin: 20px 0px;
    gap: 20px;
    max-width: 100%;
}

.nav__busqueda {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin: 20px 0px 10px 0;
}

.nav__categoria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.nav__categoria li {
    background: var(--color-22);
    list-style: none;
    border-radius: 20px;
    min-width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    margin: 5px;
}

.nav__categoria li a {
    text-decoration: none;
    color: var(--color-6);
    font-family: "Helvetica-Regular";
    font-size: 16px;
}

li.select {
    background: var(--color-26);
}

li.select a {
    color: var(--color-147);
}

li:active {
    background: var(--color-26);
}

li:active a {
    color: var(--color-47);
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 100px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Ocultar todas las tarjetas por defecto */
.card {
    display: none;
}

/* Mostrar solo la tarjeta seleccionada */
.card:target {
    display: block;
}

/* Estilos para el botón de cierre */
.close-btn {
    background-color: #dc3545;
    border-radius: 4px;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
}
.card-image {
    width:95%;
    height: 20%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
}
.card-content {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 30px;
    color: var(--color-96);
    font-family: "Monserrat-Bold";
    margin: 10px 20px;
}
.card-text {
    font-size: 20px;
    color: var(--color-147);
    font-family: "Lato-Bold";
    margin: 10px 20px;
}
.card-button {
    background-color: var(--color-26);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 20px;
    text-decoration: none;
    color: var(--color-6);
    font-family: "Helvetica-Regular";
    font-size: 16px;
    border-radius: 30px;
    width: 200px;
    height: 40px;
    color: var(--color-22);
}