@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url(../src/img/pages/Onboarding.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h1{
    font-size: 60px;
    color: var(--color-124);
    font-family: "Bitter-Bold";
    margin: 40px 0;
}
p{
    font-size: 20px;
    color: var(--color-147);
    font-family: "Bitter-Bold";
    margin: 20px 0;
}

.card-container1{
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 30px 20px;
    gap: 20px;
    max-width: 100%; 
    height: auto;
}

.nav__busqueda {
}

.nav__categoria {
    /* background: green; */
    margin: 0px 19px 0;
    display: flex;
    gap: 14px;
}

.nav__categoria li {
    background: var(--color-22);
    flex: 1;
    list-style: none;
    border-radius: 20px;
    min-width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__categoria li a {
    /* background: yellow; */
    text-decoration: none;
    color: var(--color-6);
    font-family: "Helvetica-Regular";
    font-size: 16px;
}

li.select {
    background: var(--color-26);
}

li.select a {
    color: var(--color-147);
}

li:active {
    background: var(--color-26);
}

li:active a {
    color: var(--color-47);
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    margin: 20px 19px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
/******************************************/