:root{
    --color-1: #252525;
    --color-2: #25252580 ;
    --color-3: #25252525 ;
    --color-4: #FFFFFF;
    --color-5: #25252555;
    --color-6: #111111;
    --color-7: #000000;
    --color-8: #333333;
    --color-9: #050505;
    --color-10: #020202;
    --color-11: #685FD4;
    --color-12: #25252535;
    --color-13: #080808;
    --color-14: #E5B94B;
    --color-15: #363830;
    --color-16: #BEA7A7;
    --color-17: #232323;
    --color-18: #2F2F2F;
    --color-19: #6BDFDA;
    --color-20: #9AD7F3;
    --color-21: #FEC3C7;
    --color-22: #D9D9D9;
    --color-23: #4F4F4F;
    --color-24: #F0C3D2;
    --color-25: #25252545;
    --color-26: #EE5E5A;
    --color-27: #B3CFDD;
    --color-28: #DBAF64;
    --color-29: #2C1001;
    --color-30: #2A211C;
    --color-31: #FFDE81;
    --color-32: #49342F;
    --color-33: #FFDD81;
    --color-34: #FFFFFF50;
    --color-35: #FFFFFF80;
    --color-36: #FFFFFF70;
    --color-37: #FFFFFF65;
    --color-38: #0D261B;
    --color-39: #253538;
    --color-40: #457D61;
    --color-41: #3D45FF;
    --color-42: #3FFFFF;
    --color-43: #52DC4B;
    --color-44: #FF6E3D;
    --color-45: #FFFF67;
    --color-46: #25252570;
    --color-47: #F2F2F2;
    --color-48: #909090;
    --color-49: #352F31;
    --color-50: #363031;
    --color-51: #FFFFFF35;
    --color-52: #363032;
    --color-53: #A36A4F;
    --color-54: #ECDAC4;
    --color-55: #00000020;
    --color-56: #010625;
    --color-57: #01062D;
    --color-58: #0D0F1B;
    --color-59: #100E19;
    --color-60: #E3B635;
    --color-61: #242424;
    --color-62: #271908;
    --color-63: #D4A476;
    --color-64: #E3C3B6;
    --color-65: #E8D9D6;
    --color-66: #D83517;
    --color-67: #CD292A;
    --color-68: #080C15;
    --color-69: #519BFD;
    --color-70: #3088FF;
    --color-71: #62DBE2;
    --color-72: #6FCF97;
    --color-73: #9B51E0;
    --color-74: #F2C94C;
    --color-75: #F8B3B8;
    --color-76: #122A29;
    --color-77: #FFFFFF15;
    --color-78: #7EB5E1;
    --color-79: #B79238;
    --color-80: #EFC356;  
    --color-81: #EFEEEE;   
    --color-82: #F9F9F9;   
    --color-83: #685FD435; 
    --color-84: #685FD425;  
    --color-85: #8AB2DC; 
    --color-86: #8AB2DC45; 
    --color-87: #8AB2DC35; 
    --color-88: #E5E50125; 
    --color-89: #100201; 
    --color-90: #5B57EB;
    --color-91: #E7E7E7; 
    --color-92: #F8D046;
    --color-93: #FBF4DF;
    --color-94: #C0D9DD;
    --color-95: #F9DEEC;
    --color-96: #FDFEFF;
    --color-97: #FFC671;
    --color-98: #79BBE3;
    --color-99: #D7A94F;
    --color-100: #EFBDD9;
    --color-101: #F4F4F4;
    --color-102: #B88888;
    --color-103: #202020;
    --color-104: #8B6F6F;
    --color-105: #9F4343;
    --color-106: #00000048;
    --color-107: #A86D6D;
    --color-108: #A88585;
    --color-109: #6975E8;
    --color-110: #F1C2B0;
    --color-111: #F9EB98;
    --color-112: #F1C2B0;
    --color-113: #437223;
    --color-114: #030F0E;
    --color-115: #D6EBDC;
    --color-116: #C6D9E1;
    --color-117: #D2EAF4;
    --color-118: #EECFCD;
    --color-119: #EFC48F;
    --color-120: #000103;
    --color-121: #FAEFE3;
    --color-122: #FCB782;
    --color-123: #EFAF64;
    --color-124: #FE6E06;
    --color-125: #FFFFFF90;
    --color-126: #F9D866;
    --color-127: #F9E166;
    --color-128: #33333350;
    --color-129: #00000025;
    --color-130: #00000010;
    --color-131: #181818;
    --color-132: #FFCFAA;
    --color-133: #FFFFFF20;
    --color-134: #06040A;
    --color-135: #E2E7F1;
    --color-136: #ACACDA;
    --color-137: #F8F8F8;
    --color-138: #222327;
    --color-139: #1D1E23;
    --color-140: #EFE5E2;
    --color-141: #FCEBC980;
    --color-142: #FFFFFF25;
    --color-143: #16151B;
    --color-144: #33333340;
    --color-145: #12141B;
    --color-146: #E9E9E9;
    --color-147: #0C0C0C;  
}

@font-face {
    font-family: "Propins-Bold";
    src: url(../src/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: "Propins-Light";
    src: url(../src/fonts/Poppins/Poppins-Light.ttf);
}
@font-face {
    font-family: "Propins-Regular";
    src: url(../src/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Propins-SemiBold";
    src: url(../src/fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: "WorkSans-Bold";
    src: url(../src/fonts/Work_Sans/static/WorkSans-Bold.ttf);
}
@font-face {
    font-family: "WorkSans-Light";
    src: url(../src/fonts/Work_Sans/static/WorkSans-Light.ttf);
}
@font-face {
    font-family: "WorkSans-Medium";
    src: url(../src/fonts/Work_Sans/static/WorkSans-Medium.ttf);
}
@font-face {
    font-family: "Avenir-Heavy";
    src: url(../src/fonts/Avenir/Avenir-Heavy.ttf);
}
@font-face {
    font-family: "Avenir-Roman";
    src: url(../src/fonts/Avenir/Avenir-Roman.ttf);
}
@font-face {
    font-family: "Propins-Regular";
    src: url(../src/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Avenir-Book";
    src: url(../src/fonts/Avenir/Avenir-Book.ttf);
}
@font-face {
    font-family: "Times-Bold";
    src: url(../src/fonts/Times/Times-Bold.ttf);
}
@font-face {
    font-family: "Times-Regular";
    src: url(../src/fonts/Times/Times-Regular.ttf);
}
@font-face {
    font-family: "Bitter-Bold";
    src: url(../src/fonts/Bitter/static/Bitter-Bold.ttf);
}
@font-face {
    font-family: "Helvetica-Regular";
    src: url(../src/fonts/helvetica/Helvetica.ttf);
}
@font-face {
    font-family: "Lato-Bold";
    src: url(../src/fonts/Lato/static/Lato-Bold.ttf);
}